<div class="header">
    <img src="assets/images/logo/Honeywell.png" alt="Company Logo" class="company-logo" />
  </div>
  
<div class="no-sidebar-layout">
    <div class="content-wrapper">
        <div class="offerings-container">
            <h2>Our Offerings</h2>
          
            <!-- Displaying offerings in a simple grid -->
            <div class="offerings-grid">
              <div *ngFor="let offering of offerings" class="offering-card">
                <h3>{{ offering.name }}</h3>
                <p>{{ offering.description }}</p>
                <button (click)="navigateToRegister(offering.id)">Register</button>
              </div>
            </div>
          </div>
          
    </div>
  </div>
