.offerings-container {
  padding: 20px;
  text-align: center;
}

.offerings-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-direction: column;
  width: fit-content;
  float: inline-end;
}

.offering-card {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
}

.offering-card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.offering-card p {
  font-size: 1rem;
  color: #666;
}

.offering-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.offering-card button:hover {
  background-color: #0056b3;
}

.no-sidebar-layout {
  background-image: url('../../assets/images/firefighter-fire-portrait-training.jpg');
  height: calc(100vh - 60px);
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff; /* Choose a color based on your branding */
    padding: 10px 20px;
  }
  
  .company-logo {
    height: 40px;  /* Adjust the size of your logo */
    width: auto;
  }
  